body{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: 20px;
   margin-bottom: 20px;
}
.container{
    height: 400px;
    width: 500px ;
    background-color: rgba(133, 133, 133, 0.61);
    border-radius: 20px;
   
    align-items: center;
   
    line-height: 25px;
}
.container:hover {
    transform: rotateX(20deg) rotateY(20deg) scale(1.5);
}
button{
    background-color: rgba(8, 24, 255, 0.384);
    margin-top: 60px;
    margin-left: 200px;
   height: 50px;
   width: 100px;
   border-radius: 10%;
}
