*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.all{
    margin-top: 20px;
}
body {
    background: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
  }
header{
    margin-top: 100px;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    gap: 20%;
    align-items: center;
    margin: 10px 0px;
}
.netflix{
    color: crimson;
    font-size:170%;
}
.nav-icons{
    display: flex;
    font-size:100%;
    justify-content: space-between;
    gap: 20px;
}
.nav-icons a{
   
    color: white;
    text-decoration: none;
}
.navbar{
    gap: 20px;
    display: flex;
    font-size:90%;
    justify-content: space-between;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 0rem;
}
.container {
    background: black;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signin-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  .input-group {
    margin-bottom: 1.2rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.4rem;
    color: white;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid rgb(245, 243, 243);
    border-radius: 8px;
    font-size: 1rem;
  
  }
  button {
    width: 100%;
    padding: 0.7rem;
    background-color: red;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  
  .signup-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: red;
  }
  
  .signup-link a {
    color: #007bff;
  }
  
  
  