
header{
    background-color: green;
    height: 100px;
    text-align: center;
    line-height: 25px;
}
.all{ 
   display:flex ;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
.first{
background-color: rgba(4, 255, 0, 0.632);
width: 200px;
height: 100px;
align-items:center ;
justify-content: center;
padding-top:100px;
border-radius: 7%;
margin-left: 20px;

}
.second{
    background-color: rgba(251, 255, 0, 0.632);
    width: 200px;
    height: 100px;
    align-items:center ;
    justify-content: center;
    padding-top:100px;
    border-radius: 7%;
    margin-left: 100px;
}
.thired{
    background-color: rgba(255, 0, 0, 0.632);
    width: 200px;
    height: 100px;
    align-items:center ;
    justify-content: center;
    padding-top:100px;
    border-radius: 7%;
    margin-left: 100px;    
}
button{
    line-height: 50px;
    background-color: rgba(0, 0, 255, 0.452);
    border-radius: 15%; 
    width: 100px;
    align-items: center;
    margin-top: 120px;
}
footer{
    background-color: rgba(0, 0, 0, 0.521);
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: 42px;
    margin-bottom: 0%;
}